{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Mon Panier</h1>
    <br>
    {# si j'ai des produits dans mon panier, j'affiche son contenu #}
    {% if items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th> Ajout/Suppr.</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.product.NAME}}</td>
                        <td>{{item.product.PRICE}}€</td>
                        <td>{{item.quantity}}</td>
                        <td>
                            <div class="d-flex">
                                <div style="margin-right:5px;">
                                {# Add #}
                                    <a href=" {{path('cart_add', {id: item.product.id})}} " class="btn-sm btn-success">
                                        <i class="bi bi-plus"></i>
                                    </a>
                                </div>
                                <div>
                                {# Delete #}
                                    <a href=" {{path('cart_removeOneItem', {id: item.product.id})}} " class="btn-sm btn-success">
                                        <i class="bi bi-dash"></i>
                                    </a>
                                </div>

                            </div>
                        
                        </td>
                        <td>{{item.product.PRICE * item.quantity}}€</td>
                        <td>
                            <a href=" {{path('cart_removeItem', {id: item.product.id})}} " class="btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td colspan="3" class="text-end">Total : </td>
                    <td>{{ total }}€</td>
                    <td>
                        <a href=" {{path('cart_removeAll')}} " class="btn-sm btn-danger text-end">
                            <i class="bi bi-slash-circle"></i>
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Mon panier est vide.</p>
        <a href=" {{ path('app_product') }}"> Remplissez votre panier ici !</a>
    {% endif %}

{% endblock %}
