{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1 class="text-center">Mon Panier</h1>
    {# si j'ai des produits dans mon panier, j'affiche son contenu #}
    {% if items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.product.NAME}}</td>
                        <td>{{item.product.PRICE}}€</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.PRICE * item.quantity}}€</td>
                        <td>
                            <a href=" {{path('cart_remove', {id: item.product.id})}} " class="btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end">Total : </td>
                    <td>{{ total }}€</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Mon panier est vide.</p>
    {% endif %}

{% endblock %}
