{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Inscription</h1>

	{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.EMAIL) }}
		{{ form_row(registrationForm.USERNAME, {
			label:"Pseudo" 
		}) }}
		{{ form_row(registrationForm.plainPassword, {
				label: 'Password'
			}) }}
		{{ form_row(registrationForm.agreeTerms, {label : "Accepter les termes d'utilisation"} )}}

		<button type="submit" class="btn btn-primary">Inscription</button>
	{{ form_end(registrationForm) }}
{% endblock %}

