{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Inscription</h1>
    <br>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{form_row(registrationForm.lastname, {
            label:'Nom'
        })}}
        {{form_row(registrationForm.username, {
            label:'Prénom'
        })}}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary btn-block">S'inscrire</button>
        </div>
       
    {{ form_end(registrationForm) }}
{% endblock %}
