{% extends "base.html.twig" %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-3">
    <br>
    <h1 class="text-center mb-3">Bonjour {{app.user.username}} !</h1>
    <hr>
    <br>
    <div class="shadow-lg ml-5 mr-5 ombre p-3 rounded">
        <h5 class="text-center">Vos produits en vente :</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom du Produit</th>
                    <th>Image</th>
                    <th>Catégorie</th>
                    <th>Description</th>
                    <th class="text-end">Prix</th>
                    <th class="text-end"></th>
                </tr>
            </thead>
            <tbody>
                {% for pUser in produits %}
                    {% set appUserID = app.user.id %}
                    {% set item = pUser.userID.id %}
                        {% if item == appUserID %}
                            <tr>
                                <td>{{pUser.NAME}}</td>
                                <td>
                                    <div>
                                        <img class="img-fluid" src="{{asset('images/products/' ~ pUser.IMAGE)}}" style="max-width:10vw;height:10vh;"alt="Image du Produit">
                                    </div>
                                </td>
                                <td>{{pUser.categoryID}}</td>
                                <td>{{pUser.description|slice(0,30)| raw}}...</td>
                                <td>{{pUser.PRICE}}</td>                    
                                <td class="text-end">
                                    <a href=" {{ path('app_details', {id: pUser.id}) }}" class="btn btn-primary">
                                        Page du produit
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
