{% extends "base.html.twig" %}

{% block body %}
    <br>
    <h1 class="text-center">Fiche du Produit : "{{ produits.NAME }}"</h1>
    <br>
    <section class="row articles">
        <article class="col-md-8 mx-auto text-center shadow border-dark mb-4 p-4 mt-4 mr-1" style="border-radius:20px;">
            <h4>{{ produits.NAME }}</h4>
            <hr>
            <img src="{{asset('images/products/' ~ produits.IMAGE)}}" class="img-fluid">
            <div class="card-body text-end"> 
                <h5>{{produits.PRICE}}€</h5>
                <hr>
            </div>
            <div class="card-body text-center">
                {{produits.description | raw}}
            </div>
            <hr>
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5><span class="badge btn-success">{{ produits.categoryID.Title }}</span></h5>
                </div>
                <div class="metadata">
                    Ecrit par <b>{{ produits.userID.username}}</b>
                    <small>le {{produits.updatedAt | date("d/m/Y à H:i:s")}}</small>
                </div>
                <a href=" {{path('cart_add', {id: produits.id})}}" class="card-link btn btn-primary">Ajouter au panier</a>
            </div>
        </article>
    </section>

    <h2 class="text-center mx-auto m-3">Commentaires</h2>
    
    {# <section id="commentaire" class="col-md-10 mx-auto">
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-md-3">
                        {{comment.author}} (<small>{{comment.createdAt|date('d/m/Y à H:i')}}</small>)
                    </div>
                    <div class="col-md-9">
                        {{comment.content|raw}}
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </section> #}



{% endblock %}