{% extends 'base.html.twig' %}

{% block title %}Vendre un produit {% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="text-center mb-3">Vendre un produit</h1>
        <br>
        <div class="shadow-lg ml-5 mr-5 ombre p-3 rounded">
            {{ form_start(newProduct) }}
                {{form_row(newProduct.NAME, {
                    label:'Nom du produit'
                })}}
                {{form_row(newProduct.DESCRIPTION, {
                    label:'Description du produit'
                })}}
                {{ form_row(newProduct.PRICE, {
                    label: 'Son prix'
                }) }}
                {{ form_row(newProduct.imageFile, {
                    label: "Ajouter une image"
                }) }}
                {{ form_row(newProduct.category_id, {
                    label: 'Sélectionner une catégorie'
                }) }} 
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Ajouter le produit</button>
                </div>
                <br>
            {{ form_end(newProduct) }}
        </div>
    </div>
    <br>

{% endblock %}