<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" href="/assets/img/add-to-cart.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">ADIBOU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_product')}}">Nos Produits</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('app_newProduct')}}">Vendre un produit</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active position-relative" href="{{ path('app_cart')}}">
                            Mon Panier                             
                            {# Nous allons créer une variable nbProduits qui va recupérer le nb total de produits en session #}
                            {% set nbProduits = app.session.get('qt') %}

                            {# Pour récupérer un attr de session on utilise app.session #}
                            {% if nbProduits > 0 %}
                                <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ nbProduits }}
                                </span>
                            {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_contact') }}">Contactez-nous</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        {% if is_granted('ROLE_ADMIN') %} 
                            <li class="nav-item"> 
                                <a class="nav-link" href="{{ path('easyadmin') }}">BackOffice</a> 
                            </li> 
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link active" href=" {{ path('app_userprofil')}} ">Bonjour, {{ app.user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('app_logout')}}">Se Déconnecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href=" {{ path('app_register') }}">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('app_login')}}">Se Connecter</a>
                            </li>       
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-bottom:40vh;">
            {% block body %}{% endblock %}
        </div>
        <br>
        <br>
        <br>
        <footer class="text-center text-lg-start bg-dark text-white ">
            <section class="d-flex justify-content-center justify-content-between p-3 border-bottom">
                <div class="me-3 d-none d-lg-block">
                    <span>Suivez-nous sur les réseaux :</span>
                </div>
                <div>
                    <a href="https://github.com/KevOneRedOne/E_commerce_Symfony" class="me-3 text-white">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="#" class="me-3 text-white">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="me-3 text-white">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="bi bi-shop-window"></i> ADIBOU
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Liens utiles
                            </h6>
                            <p>
                                <a href="/product" class="text-reset">Nos Produits</a>
                            </p>
                            <p>
                               <a href="/contact" class="text-reset">Nous Contacter</a>
                            </p>
                            <p>
                                <a href="/login" class="text-reset">Se Connecter</a>
                            </p>
                            <p>
                                <a href="/register" class="text-reset">S'inscrire</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Contact
                            </h6>
                            <p><i class="fas fa-home me-3"></i> Paris, France</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                infoproduit@adibou.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2022 Copyright:
                <a class="text-reset fw-bold" href="#">ADIBOU.COM</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>